body  {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f5f5f5;
    margin: 0;
}

@media (max-width: 768px) {
    .nav ul {
        flex-direction: column; /* Stack nav items vertically on small screens */
        padding: 0; /* Adjust padding if needed */
    }

    .image {
        width: 100%; /* Ensure images are responsive */
        height: auto; /* Maintain aspect ratio */
    }
}


.nav {
    text-align: center; /* Centers the text inside the nav */
    margin: 20px;
}

.nav ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.nav li {
    display: inline; /* Keeps items in a single line */
    margin: 0 15px; /* Adds space between menu items */
}


.Degree {
    margin-top: 20px;
    margin-bottom: 50px;
}

.Degree img {
    align-items: center;
}


h2 {
    color: green;
}

h3 {
    color: green;
}

img {
    float: right;
}

.contacts {
    margin-top: 0px;
    color: white;
    background-color: navy;
    border: 1px solid black;
    display: flex;
}

.contact {
    flex: 0.5;
    padding: 10px;
    color: white;
}

.container {
    display: flex;
    justify-content: flex-end;
}

.header img {
    width: 100px;
    height: auto;
}

.header {
    flex: 1;
    padding: 10px;
    color: white;
    background-color: skyblue;
}

.section {
    flex: 1;
    padding: 10px;
}

.footer {
    color: white;
    background-color: lightblue;
    padding: 20px;
}

.background {
    opacity: 0.5;
}

.footer p {
    clear: both;
    text-align: center;
}